<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>This project builds argouml, runs tests, and static checks using maven and configured from the poms developed for this purpose.&#xd;
&#xd;
Currently this project just contains a small part of argouml, the part that has poms created.&#xd;
&#xd;
The plan is to eventually let this replace the nightly build.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///home/argonightly/REPOS/argouml.tigris.org/svn/argouml/trunk</remote>
        <local>argouml</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///home/argonightly/REPOS/argouml-actionscript3.tigris.org/svn/argouml-actionscript3/trunk</remote>
        <local>argouml-actionscript3</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>true</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>prio3</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>25 */6 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.argouml</groupId>
    <artifactId>allArgoUMLProjects</artifactId>
  </rootModule>
  <rootPOM>argouml/tools/maven/toppom.xml</rootPOM>
  <goals>install site</goals>
  <mavenOpts>-Xmx128M</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <reporters>
    <hudson.plugins.findbugs.FindBugsReporter>
      <threshold></threshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <newThreshold></newThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[FINDBUGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <canRunOnFailed>false</canRunOnFailed>
    </hudson.plugins.findbugs.FindBugsReporter>
    <hudson.plugins.checkstyle.CheckStyleReporter>
      <threshold></threshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <newThreshold></newThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[CHECKSTYLE] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <canRunOnFailed>false</canRunOnFailed>
    </hudson.plugins.checkstyle.CheckStyleReporter>
  </reporters>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[WARNINGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <useDeltaValues>false</useDeltaValues>
      <canRunOnFailed>false</canRunOnFailed>
      <pattern></pattern>
      <parserNames>
        <string>Java Compiler</string>
        <string>JavaDoc</string>
      </parserNames>
      <ignoreConsole>false</ignoreConsole>
    </hudson.plugins.warnings.WarningsPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>1000</timeoutMinutes>
      <failBuild>false</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</maven2-moduleset>