<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.357</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy"/>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
  </securityRealm>
  <systemMessage>&lt;p&gt;The argouml-junit-javaX and the daily-userdoc job starts after a commit. If an error is found they send mails to the committer (and to the users(at)argouml-stats.tigris.org mailing list)&lt;/p&gt;&#xd;
&#xd;
&lt;p&gt;The argonightly-java jobs does the nightly build. It starts at midnight (if there is any change in any of the involved projects). Each job uploads the result to the website separately. To limit the impact of these jobs, they are bound to the &quot;nightly&quot;-executor that runs niced.&lt;/p&gt;&#xd;
&#xd;
&lt;p&gt;All jobs fetches information from an svn mirror of the tigris svn repositories that is updated regularly by the update-mirror jobs.&lt;/p&gt;&#xd;
&lt;p&gt;show-jobs fetches information from the repository and displays it using the hudson publishing mechanisms.&lt;/p&gt;&#xd;
</systemMessage>
  <jdks>
    <jdk>
      <name>1.6</name>
      <home>/usr/local/lib/java/jdk1.6.0</home>
      <properties/>
    </jdk>
    <jdk>
      <name>1.5</name>
      <home>/usr/local/lib/java/jdk1.5.0_06</home>
      <properties/>
    </jdk>
  </jdks>
  <clouds/>
  <slaves>
    <slave>
      <name>nightly</name>
      <description></description>
      <remoteFS>/home2/argonightly/slowdisk</remoteFS>
      <numExecutors>2</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>nice -n 5 /usr/local/lib/java/jdk1.6.0/bin/java -Xdebug -Xrunjdwp:transport=dt_socket,address=8003,server=y,suspend=n -Xms16M -Djava.util.logging.config.file=/home2/argonightly/slowdisk/logging.properties -jar /home2/argonightly/tools/WEB-INF/slave.jar</agentCommand>
      </launcher>
      <label></label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>updateshow</name>
      <description></description>
      <remoteFS>/home2/argonightly/update</remoteFS>
      <numExecutors>2</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>nice -n 5 /usr/local/lib/java/jdk1.6.0/bin/java -Xms16M -Djava.util.logging.config.file=/home2/argonightly/update/logging.properties -jar /home2/argonightly/tools/WEB-INF/slave.jar</agentCommand>
      </launcher>
      <label>update</label>
      <nodeProperties/>
    </slave>
  </slaves>
  <quietPeriod>20</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>update</label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
  </disabledAdministrativeMonitors>
</hudson>