<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>The nightly job for the java5 jdk.</description>
  <logRotator>
    <daysToKeep>25</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>100</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>1.5</jdk>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home2/argonightly/argouml-gen &amp;&amp; perhost/closettop-java.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>stats-commit-all</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>2400</timeoutMinutes>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>