<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build the user manual and quick guide and upload the result.</description>
  <logRotator>
    <daysToKeep>30</daysToKeep>
    <numToKeep>30</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///home/argonightly/REPOS/argouml-documentation.tigris.org/svn/argouml-documentation/trunk</remote>
        <local>argouml-documentation</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///home/argonightly/REPOS/argouml-gen.tigris.org/svn/argouml-gen/trunk</remote>
        <local>argouml-gen</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <quietPeriod>300</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>1.6</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/12 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd argouml-gen
test -d tmp || ln -s .. tmp</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>JIMI=jimi1_0.tar
test -f $JIMI || cp $HOME/$JIMI .
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd argouml-gen &amp;&amp; ./build.sh report:daily-userdoc</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>argouml-gen/hudson/h-upload.sh http://argouml-stats.tigris.org/svn/argouml-stats/trunk/www/daily-userdoc RESULT/daily-userdoc
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd argouml-gen &amp;&amp; ./build.sh clean-result</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <gcal.gcalPublisher>
      <serviceURL>http://www.google.com/calendar/</serviceURL>
      <calendarID>guhv5mnvkr0pd05teacgh281gk%40group.calendar.google.com</calendarID>
      <url>http://www.google.com/calendar/feeds/guhv5mnvkr0pd05teacgh281gk%40group.calendar.google.com/private/full</url>
      <login>closettop.homelinux.org</login>
      <password>XXXXXXXXXX</password>
      <statusToPublish>All</statusToPublish>
    </gcal.gcalPublisher>
    <hudson.tasks.Mailer>
      <recipients>users@argouml-stats.tigris.org</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets class="linked-list"/>
      <strategy class="hudson.plugins.im.NotificationStrategy">ALL</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>400</timeoutMinutes>
      <failBuild>false</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>
