<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Commits the parts of the nightly job.</description>
  <logRotator>
    <daysToKeep>25</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>200</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <com.redfin.hudson.UrlChangeTrigger>
      <spec></spec>
      <url>file:/home2/argonightly/argouml-gen/argouml-stats/www/closettop.log</url>
    </com.redfin.hudson.UrlChangeTrigger>
  </triggers>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home2/argonightly/argouml-gen/argouml-stats &amp;&amp; svn commit -m&apos;Committing files from the nightly build.&apos; --non-interactive --no-auth-cache
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher>
      <regexp>Could not resolve hostname|timed out waiting for server|could not connect to server|commit attempts failed.*Giving up</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>2400</timeoutMinutes>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.locksandlatches.LockWrapper>
      <locks>
        <hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
          <name>argouml-stats</name>
        </hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
      </locks>
    </hudson.plugins.locksandlatches.LockWrapper>
  </buildWrappers>
</project>