<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Compiles and runs all JUnit tests using Java6 and a fresh checked out copy.</description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///home/argonightly/REPOS/argouml.tigris.org/svn/argouml/trunk/src</remote>
        <local>src</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///home/argonightly/REPOS/argouml.tigris.org/svn/argouml/trunk/tools</remote>
        <local>tools</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>false</useUpdate>
    <excludedRegions></excludedRegions>
  </scm>
  <quietPeriod>18000</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>1.6</jdk>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.Ant>
      <targets>tests</targets>
      <antName>(Default)</antName>
      <buildFile>src/argouml-build/build.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>src/*/build/tests/reports/TEST-*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Mailer>
      <recipients>users@argouml-stats.tigris.org</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>1500</timeoutMinutes>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>