<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>Starts nightly if there is any change is any of the argouml projects. Creates the information published for&#xd;
&lt;a href=&quot;/job/show-junit5/&quot;&gt;Junit java5&lt;/a&gt; (&lt;a href=&quot;/job/show-junit6/&quot;&gt;java6&lt;/a&gt;),&#xd;
&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java5/coverage/&quot;&gt;Coverage java5&lt;/a&gt; (&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java6/coverage/&quot;&gt;java6&lt;/a&gt;),&#xd;
&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java5/javadocs/&quot;&gt;Javadocs java5&lt;/a&gt; (&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java6/javadocs/&quot;&gt;java6&lt;/a&gt;),&#xd;
&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java5/javadocs-api/&quot;&gt;Javadocs-api java5&lt;/a&gt; (&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java6/javadocs-api/&quot;&gt;java6&lt;/a&gt;),&#xd;
&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java5/checkstyle/&quot;&gt;Checkstyle&lt;/a&gt;,&#xd;
&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java5/findbugs/&quot;&gt;Findbugs&lt;/a&gt; (&lt;a href=&quot;/job/show-findbugs/&quot;&gt;hudson view&lt;/a&gt;), and&#xd;
&lt;a href=&quot;http://argouml-stats.tigris.org/nonav/reports-java5/i18ncomparison/&quot;&gt;I18n comparison&lt;/a&gt;.&#xd;
&#xd;
&#xd;
&#xd;
&#xd;
</description>
  <logRotator>
    <daysToKeep>20</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-gen.tigris.org/svn/argouml-gen/trunk</remote>
        <local>argouml-gen</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml.tigris.org/svn/argouml/trunk</remote>
        <local>argouml</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-cpp.tigris.org/svn/argouml-cpp/trunk</remote>
        <local>argouml-cpp</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-csharp.tigris.org/svn/argouml-csharp/trunk</remote>
        <local>argouml-csharp</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-idl.tigris.org/svn/argouml-idl/trunk</remote>
        <local>argouml-idl</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-php.tigris.org/svn/argouml-php/trunk</remote>
        <local>argouml-php</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-sql.tigris.org/svn/argouml-sql/trunk</remote>
        <local>argouml-sql</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-de.tigris.org/svn/argouml-de/trunk</remote>
        <local>argouml-de</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-en-gb.tigris.org/svn/argouml-en-gb/trunk</remote>
        <local>argouml-en-gb</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-es.tigris.org/svn/argouml-es/trunk</remote>
        <local>argouml-es</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-fr.tigris.org/svn/argouml-fr/trunk</remote>
        <local>argouml-fr</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-i18n-zh.tigris.org/svn/argouml-i18n-zh/trunk</remote>
        <local>argouml-i18n-zh</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-it.tigris.org/svn/argouml-it/trunk</remote>
        <local>argouml-it</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-nb.tigris.org/svn/argouml-nb/trunk</remote>
        <local>argouml-nb</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-pt.tigris.org/svn/argouml-pt/trunk</remote>
        <local>argouml-pt</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-pt-br.tigris.org/svn/argouml-pt-br/trunk</remote>
        <local>argouml-pt-br</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-ro.tigris.org/svn/argouml-ro/trunk</remote>
        <local>argouml-ro</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-ru.tigris.org/svn/argouml-ru/trunk</remote>
        <local>argouml-ru</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-sv.tigris.org/svn/argouml-sv/trunk</remote>
        <local>argouml-sv</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>file:///var/lib/jenkins/REPOS/argouml-java.tigris.org/svn/argouml-java/trunk</remote>
        <local>argouml-java</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0 0 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.JDKAxis>
      <name>jdk</name>
      <values>
        <string>1.6</string>
        <string>1.7</string>
      </values>
    </hudson.matrix.JDKAxis>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>prio3</string>
      </values>
    </hudson.matrix.LabelAxis>
    <hudson.matrix.TextAxis>
      <name>type</name>
      <values>
        <string>junit</string>
        <string>javadocs</string>
        <string>release</string>
        <string>checkstyle</string>
        <string>findbugs</string>
        <string>jdepend</string>
        <string>coverage</string>
        <string>i18ncomparison</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <combinationFilter>jdk==&quot;1.6&quot; || (type != &quot;checkstyle&quot; &amp;&amp; type != &quot;findbugs&quot; &amp;&amp; type != &quot;jdepend&quot; &amp;&amp; type != &quot;i18ncomparison&quot;)</combinationFilter>
  <builders>
    <hudson.tasks.Shell>
      <command>cd argouml-gen &amp;&amp; nice ./build.sh -Dworking.dir=.. report:$type
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>java_version=`&quot;$JAVA_HOME&quot;/bin/java -version 2&gt;&amp;1 | head -1`

case &quot;$java_version&quot; in
*1.5.0*)
    JAVA_NAME=java5
    ;;
*1.6.0*)
    JAVA_NAME=java6
    ;;
*1.7.0*)
    JAVA_NAME=java7
    ;;
*)
    echo &quot;Unknown jdk!&quot;
    exit 1
    ;;
esac

for dir in RESULT/reports/$type*
do
nice argouml-gen/hudson/h-upload.sh http://argouml-stats.tigris.org/svn/argouml-stats/trunk/www/reports-$JAVA_NAME/`basename $dir` $dir
done
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd argouml-gen &amp;&amp; nice ./build.sh -Dworking.dir=.. clean-result</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>1200</timeoutMinutes>
      <failBuild>false</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
  <runSequentially>false</runSequentially>
  <touchStoneCombinationFilter>type == &quot;release&quot;</touchStoneCombinationFilter>
  <touchStoneResultCondition>
    <name>UNSTABLE</name>
    <ordinal>1</ordinal>
    <color>YELLOW</color>
  </touchStoneResultCondition>
</matrix-project>