<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Update the argouml-stats project.</description>
  <logRotator>
    <daysToKeep>25</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 22 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home2/argonightly/argouml-gen &amp;&amp; svn update --non-interactive --no-auth-cache --accept=mine-full argouml-stats</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>argonightly</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.textfinder.TextFinderPublisher>
      <regexp>Could not resolve hostname|timed out waiting for server|could not connect to server|commit attempts failed.*Giving up</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>argonightly, argonightly-java5</childProjects>
      <threshold reference="../../hudson.tasks.BuildTrigger/threshold"/>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.BuildTrigger>
      <childProjects>argonightly, argonightly-java6</childProjects>
      <threshold reference="../../hudson.tasks.BuildTrigger/threshold"/>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>120</timeoutMinutes>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.locksandlatches.LockWrapper>
      <locks>
        <hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
          <name>argouml-stats</name>
        </hudson.plugins.locksandlatches.LockWrapper_-LockWaitConfig>
      </locks>
    </hudson.plugins.locksandlatches.LockWrapper>
  </buildWrappers>
</project>